html{
    box-sizing: border-box;  
    min-height: 100vh;
}
body{
    
    background-image: url(Imágenes/fulbackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 0;
    display:flex;
    flex-direction: column;
   

}

.search{
    position: fixed;
    width: 100%; 
    height: 45px;
    border: 0;
    text-align: right;
    font-size: 24px;
    background-color: rgba(164, 201, 175, 0.737);
    
    
}
header{
    position: fixed;
    display:flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.822);
    font-family: system-ui;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 45px;
    
}
.logo{
    position: absolute;
    top: 8%;
    left: 0;
    width: 200px;
    height: 100px;
    

}
.menu{
    position: absolute;
    right: 10% ;
    display: flex;
    justify-content: space-between;
    
    
}
.menu p{
    position:relative;
    left: 20%;
    color:black;
    margin: 15px;
    font-size: 26px;
    font-family:Cambria ;
    padding: 0 15 ;
    cursor: pointer;
}
.menu p:hover{
    color:rgb(52, 43, 226);
    text-decoration: underline;
}
section{
    position: relative;
    width: 250px;
    top : 200px;
    background-color: aliceblue;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: cursive;
}
select{
    width: 150px;
    border-radius: 10px;
    font-family: cursive;
}
select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px #000 inset;
}
select:focus>option:checked {
    background: rgb(142, 243, 224) !important;
  } 
.redes{
    width: 55px;
    height: 50px;
    padding: 10px;

}
#films{
    position: relative;
    left:50%;
}
#data-container{

    display:grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    gap: 30px;
    width: 1500px;
    padding: 10px;
    margin-left: 30vh;
    margin-top: 100px;
}
.film-container{ 
    
    width: 280px;
    height: 410px;
    text-align: center;
    background-color: rgba(240, 254, 244, 0.685);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: system-ui;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   
    
}
.modal {
    display: none; /* Este va permanecer escondido por defecto */
    position: fixed; /* Para que permanezca fijo */
    z-index: 1; 
    left: 25%;
    top: 30%;
    width: 1000px; 
    height: 500px; 
    
  }

#modal-info{
    background-color: #fefefe;
    margin: 0; 
    border: 1px solid #888;
    width: 100%; 
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    
}
.modal-header{      
    
    width: 100%;
    height: 15%;
    background-image: url(Imágenes/flower.jpg);
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.modal span{
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: 2%;
    cursor: pointer;
}
.modal span:hover{
    color:#000;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:100px; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:100px; opacity:1}
  }

footer{
    position:relative; 
    display: flex;
    margin: 0;
    padding: 15px;
    background-color: rgb(128, 125, 122);
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto; 

    
}

/*

    Modal, mirar cómo vamos a mostrar el resto de la información

    
/*